<mat-card>
<mat-card-header><B>DATOS DE USUARIO</B></mat-card-header>
<mat-card-content>
  <mat-list>
      <mat-divider></mat-divider>
    <mat-list-item>Usuario: {{username}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Roles: {{roles | json}}</mat-list-item>
  </mat-list>
</mat-card-content>
</mat-card>