

<mat-toolbar>Asignar Roles a Menú</mat-toolbar>
<form class="example-container" [formGroup]="form" (ngSubmit)="aceptar()" #loginForm="ngForm">
  
<div class="example-container">


    <div [hidden]="true">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
      </div>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre Menú" required formControlName="nombre" [readonly]="true">
      </mat-form-field>
      
      <mat-divider mat-inset ></mat-divider>

      <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center"
     fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="50%">

      <h3>Roles Actuales</h3>
          <mat-list>
            <mat-list-item *ngFor="let r of rolesactuales">
                <mat-icon matListIcon>star_rate</mat-icon>
              <h3 matLine> {{r.nombre}} </h3>
            </mat-list-item>
          </mat-list>

  </div>

  <div class="item item-2" fxFlex="50%" fxFlexOrder="2">
      <h3>Roles Nuevos</h3>
      <mat-form-field>
        <mat-select placeholder="Rol" [(value)]="rolSeleccionado">
          <mat-option *ngFor="let r of roles" [value]="r">
            {{ r.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <button mat-raised-button color="primary" type="button"  (click)="agregarRoles()">Agregar Rol</button>
        
      <mat-toolbar *ngIf="rolesSeleccionados.length===0">No hay Roles agregados</mat-toolbar>  
    
      <mat-toolbar *ngFor="let d of rolesSeleccionados; let i=index">
        {{d.nombre}}
        <span class="example-spacer"></span>
        <button mat-raised-button color="warn" type="button" (click)="removerRol(i)">Remover</button>
      </mat-toolbar>
    
    </div>
</div>
<mat-divider mat-inset ></mat-divider>
  <button mat-raised-button color="primary" type="submit" (click)="aceptar(true)" [disabled]="estadoBotonRegistrar()">Registrar</button>

</div>

</form>